/* shop page - start
==================================================================================================== */

/* shop section - start */
.shop_section {
	&.bg_gray {
		background-color: #f5f6fa;
	}
}
/* shop section - end */


/* product selection bar - start */
.product_selection_bar {
	padding: 16px 30px;
	background-color: #ffffff;
	.select_option {
		&.float_right {
			float: right;
			.list {
				right: 0px;
				left: unset;
			}
		}
		.nice-select {
			width: auto;
			padding: 0px;
			height: auto;
			line-height: 1;
			padding-right: 20px;
			display: inline-block;
			background: transparent;
			&:after {
				right: 0px;
			}
			span {
				color: $default_black;
			}
			.list {
				width: auto;
				min-width: 230px;
			}
		}
	}

	.result_text {
		margin: 0px;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
		color: $default_black;
	}
}
/* product selection bar - end */


/* product card layout - start */
.product_card {
	max-width: 370px;
	margin: 30px auto 0px;
	background-color: #ffffff;
	&.bg_gray {
		background-color: #f5f6fa;
	}
	.item_image {
		display: block;
		overflow: hidden;
		position: relative;
		background-color: $default_blue;
		>img {
			width: 100%;
			display: block;
			transition: $default_transition;
		}
	}
	&:hover {
		.item_image {
			>img {
				opacity: .4;
			}
		}
	}

	.item_content {
		padding: 21.5px 20px;
	}
	.item_title {
		line-height: 1;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.item_price {
		display: block;
		line-height: 1;
		font-weight: 500;
		color: $default_orange;
		font-family: $heading_font;
	}
}
/* product card layout - end */

/* shop page - end
==================================================================================================== */