/* table of content - start
==================================================================================================== */
/* 

Project Name 	:  Printem - HTML5 Template
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  05 Octobar 2020
Author 			:  BDevs (https://themeforest.net/user/bdevs)
Developer:		:  Rakibul Islam Dewan

================================================== 

*/
/* table of content - end
==================================================================================================== */

@import "variable";
@import "reset";
@import "header";
@import "footer";

@import "breadcrumb";
@import "sidebar";
@import "testimonial";
@import "feature";
@import "brand";
@import "funfact";


@import "about";
@import "service";
@import "portfolio";
@import "blog";
@import "shop";
@import "details";
@import "pricing";
@import "team";
@import "faq";
@import "contact";

@import "home";

@import "responsive";